.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
  }

  .search {
    width: 95%;
    padding: 10px;
  }
}
